body {
    margin: 0;
    background-color: #1e1d40;
}

body,
button,
input,
select,
option {
    font-family: 'Segoe UI';
    font-size: 18px;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #060614;
}

header > .__content {
    display: inline-flex;
    column-gap: 50px;
    width: 1240px;
}

header nav {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(231, 231, 231);
}

main > .__content {
    width: 1240px;
    margin: auto;
}

button,
input,
select {
    height: 40px;
    border-radius: 10px;
    border: 0;
}

button[type="submit"] {
    padding: 0 30px;

    outline: 2px solid white;
    background-color: transparent;
}

button[type="submit"]:hover {
    outline: 2px solid #cbcbcb;
    color: #cbcbcb;
}

button[type="submit"].danger {
    background-color: rgb(255, 74, 74);
    outline: 0;
}

button[type="submit"].danger:hover {
    color: white;
    background-color: rgb(255, 104, 104);
}

button:hover {
    cursor: pointer;
}

input,
select {
    padding-left: 15px;

    outline: 0;
    background-color: #020211;
}
