.create-post-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-box {
    width: 100%;
    display: flex;
    justify-content: right;
}

form[name="create-post"] {
    width: calc(100% - 80px);
    padding: 30px 40px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    background-color: rgba(36, 9, 87, 0.7);
    border-radius: 20px;
}

.form-buttons-block {
    display: flex;
    column-gap: 20px;
}

.form-buttons-block > button {
    flex-grow: 1;
}

form[name="update-post"] {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

form textarea[name="text"] {
    resize: vertical;
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    min-height: 50px;
    height: 160px;
    max-height: 240px;
}

.posts-box {
    width: 100%;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.post-box {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    background-color: rgba(36, 9, 87, 0.7);
    border-radius: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.post__info {
    width: 100%;

    display: flex;
    justify-content: space-between;

    color: rgb(224, 224, 224);
    font-style: italic;
    font-size: 16pt;
}

.post__buttons {
    display: flex;
    column-gap: 5px;
}

.post__buttons > form {
    padding: 5px;
    display: flex;

    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.post__buttons form:hover {
    background-color: white;
}

.post__buttons img {
    width: 32px;
}

.post__image {
    display: flex;
    justify-content: center;
}

.post__image > img {
    max-width: 500px;
    max-height: 500px;
}

.comments-box {
    margin-top: 20px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    border-top: 1px solid white;
}

.add-comment-container {
    width: 100%;
    font-size: 14pt;
}

.add-comment-container > form {
    display: flex;
    column-gap: 20px;
}

.add-comment-container label.fill-container {
    width: 100%;
}

.add-comment-container form textarea {
    box-sizing: border-box;
    resize: vertical;
    min-width: 100%;
    min-height: 40px;
    height: 40px;
    max-height: 120px;
}

.add-comment-container .button-container {
    padding-top: 35px;
}

.comments {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.comment {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.comment__header {
    display: flex;
    column-gap: 15px;

    color: rgb(224, 224, 224);
    font-style: italic;
    font-size: 14pt;
    white-space: nowrap;
}

.comment__header > .datetime-container {
    width: 100%;
    text-align: right;
}
